[dotenv@17.3.1] injecting env (8) from .env -- tip: ÔÜÖ´©Å  load multiple .env files with { path: ['.env.local', '.env'] }

    DECLARE
        v_ref_id uuid;
        v_ver_id uuid;
        v_color_name text;
    BEGIN
        -- 0. Get Color Name
        SELECT name_color_sap INTO v_color_name FROM public.colors WHERE code_4dig = NEW.color_code;

        -- 1. Upsert Reference

        -- 2. Upsert Version

        -- 3. Upsert SKU

        RETURN NEW;
    END;
    
